*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    background: rgb(245,245,245);
}
footer{
    padding: 20px 0;
    background: #222222;
    color: #fff;
    text-align: center;
    margin-top: 3px;
}
.login-footer{
    background: #222222;
    color: #fff;
    text-align: center;
    margin-top: 180px;
}
.Dashboard-footer{
    background: #222222;
    color: #fff;
    text-align: center;
    margin-top: 380px;
}
.Create-footer{
    background: #222222;
    color: #fff;
    text-align: center;
    margin-top: 240px;
}